.modeContainer{
  margin-left: 16px;
}

.categoriesContainer{
  margin-left: 16px;
}

.home_button{
  background-color: lightgray;
  height: 150px;
  min-width: 150px;
  margin-left: 50px;
  font-size: 1.5em;
  max-width: 300px;

  margin-bottom: 3%;
}

.fullscreenButtonWrapper{
  position: absolute;
  right: 1%;
  bottom: 1%;
  height: 180px;
  width: 250px;
}

.fullscreenButton{
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  width: 80%;
  height: 100px;
  font-size: 1.5em;
  background-color: lightgray;
}

.seperatingBorder {
    margin-left: 30px;
    margin-right: 30px;
    height: 30px;
    border-style: solid;
    border-color: grey;
    border-width: 2px 0 0 0;
    border-radius: 20px;
}
.seperatingBorder:before { /* Not really supposed to work, but does */
    display: block;
    content: "";
    height: 30px;
    margin-top: -31px;
    border-style: solid;
    border-color: grey;
    border-width: 0 0 2px 0;
    border-radius: 20px;
}

.submitButton {
  position: absolute;
  background-color: lightgray;
  bottom: 1%;
  left: 2%;
  width: 10%;
  height: 5%;
  text-align: center;
}

.submitButton:hover {
  border: 1px solid gray;
  background-color: lightgrey;
}

@media screen and (max-width: 1024px) {

}
