.maincontent {
    margin-left: 15%;
    background-color: #eee;
    width: 40%;
    height: 100%;
    position: absolute;
    padding: 0;


    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;

    border-right: 1px solid #eee;
    box-shadow:
      0 0px 0px #fff, /*bottom external highlight*/
      0 0px 1px #ccc, /*top external shadow*/
      inset 0px 0px 1px rgba(0,0,0,0.5), /*bottom internal shadow*/
      inset 0 0px 1px rgba(255,255,255,0.8); /*top internal highlight*/
}

.leftcontent{
  overflow-x: hidden;
   overflow-y: auto;
    width: 15%;
    height: 100%;
    background-color: #eee;
    position: absolute;
    padding:0;
    margin:0;

    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;

    border-right: 1px solid #fff;
    box-shadow:
      0 0px 2px #fff, /*bottom external highlight*/
      0 0px 1px #666, /*top external shadow*/
      inset 0 -1px 1px rgba(0,0,0,0.5), /*bottom internal shadow*/
      inset 0 1px 1px rgba(255,255,255,0.8); /*top internal highlight*/
}

.submit_button {
  background-color: LightGray;
  margin-top: 5px;
  margin-left: 2%;
}

.hr {
    display: block;
    margin-before: 0.5em;
    margin-after: 0.5em;
    margin-start: auto;
    margin-end: auto;
    border-style: inset;
    border-width: 1px;
}

/* Document side css (Right side) */
.descriptioncontent {
    margin-left: 55%;
    width: 45%;
    height: 100%;
    background-color: #CCCCCC;
    position: absolute;
    padding: 0;
    overflow-y:auto;
    overflow-x:auto;
}

.SimplePDF {
  width: 100%;
  height: 100%;
  position: inherit;
}

/* Tree structures */
.checkbox {
 float: left;
}

.operator{
  align-self: center;
  margin-left: 48%;
}

.treeIndent{
  margin-left: 1.5vw;
}

.mainTreeIndent{
  margin-left: 1vw;
  margin-top: 2vh;
}

.criterion:hover {
  cursor: pointer;
}

.treeIndent .condition > .conditionoperator {
  font-weight: bold;
}

.condition {
    position: relative;
    height: 100%;
    display: inline-block;
}

.condition:before{
    content: " ";
    position: absolute;
    /*border-left: 2px solid black;*/
    /*border-top: 2px solid black;*/
    /*border-bottom: 2px solid black;*/

    -webkit-transform: translateY(12px);
    -moz-transform: translateY(12px);
    -ms-transform: translateY(12px);
    transform: translateY(12px);
    height: inherit;
    width: 25px;
    left:-5px;
}

.condition > *:before {
  content: " ";
  position: absolute;
  border-top: 2px solid black;
  border-left: 2px solid black;
  -webkit-transform: translateY(12px);
  -moz-transform: translateY(12px);
  -ms-transform: translateY(12px);
  transform: translateY(12px);

  height: inherit;
  width: 25px;
  left:-5px;
}

.condition > *:first-child:before {

}

.condition > *:last-child:before {
  border-left: none;
}

.condition .condition:after {

  border-left: 2px solid black;

}

.condition:after {
    position: absolute;
    display: inline-block;
    top: 35%;
    border-bottom: 2px solid black;
    width: 25px;
    padding-left: 5px;

    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);

    left: -35px;
    content: attr(operator);

    font-weight: bold;
    font-size: 11px;
}

.maincontent .conditionleaf {
  display: block;
  height: 150px;
}

.leftcontent .conditionleaf {
  display: inline-block;
  height: 40px;
}

/*.conditionleaf:before {
    content: " ";
    position: absolute;
    border-top: 2px solid black;

    -webkit-transform: translate(-100%, 10px);
    -moz-transform: translate(-100%, 10px);
    -ms-transform: translate(-100%, 10px);
    transform: translate(-100%, 10px);

    width: 15px;
}

.condition:before{
    content: " ";
    position: absolute;
    border-left: 2px solid black;

    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    -ms-transform: translateY(10px);
    transform: translateY(10px);
    height: 50%;
    width: 15px;
}

.condition:after {
    position: absolute;
    display: block;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);

    left: -30px;
    content: attr(operator);
}*/

/* Tablet properties */
@media screen and (max-width: 1400px) {
  .pdfViewer {
    width: 125%;
  }
}

/* Desktop properties */
@media screen and (min-width: 1401px) {

}
