/* Left Content */
.leftcontent{
  overflow-x: hidden;
  overflow-y: auto;
  width: 15%;
  height: 100%;
  background-color: #eee;
  position: absolute;
  padding:0;
  margin:0;
  padding-top: 5px;

  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

  border-right: 1px solid #fff;
  box-shadow:
    0 0px 2px #fff, /*bottom external highlight*/
    0 0px 1px #666, /*top external shadow*/
    inset 0 -1px 1px rgba(0,0,0,0.5), /*bottom internal shadow*/
    inset 0 1px 1px rgba(255,255,255,0.8); /*top internal highlight*/
}

/* Used to create a visual seperation between the TreeNodes in the overview panel */
.hr {
    display: block;
    margin-before: 0.5em;
    margin-after: 0.5em;
    margin-start: auto;
    margin-end: auto;
    border-style: inset;
    border-width: 1px;
}

.leftcontent .treeIndent{
  margin-left: 2%;
}

/* Overview tree */
.leftTree .moveLogicOperator {
  position: absolute;
  margin-top: -11.5%;
}

.overviewTreeNodeContainer{
  cursor:pointer;
}

.leftTree .mainConditionTree{
  margin-left: -25%;
}

.leftTree .leafNode{
  margin-left: 20%;
}

.leftTree .singleConditionIndent{
  margin-left: 0%;
}

.leftTree .firstUL {
  margin: 0;
  margin-left: 8%;
  padding: 0;
  margin-top: 5%;
  margin-bottom: 5%;
}

.leftTree .logicNode .logicNode{
  margin-left: -10%;
}

.overviewTree li::before, .tree li::after{
  content: '';
}

.overviewTree li {
  list-style-type: none;
}

/* Overview tree - end */

/* Left Content - End */

/* Main Content*/
.maincontent {
    margin-left: 15%;
    background-color: #eee;
    width: 40%;
    height: 100%;
    position: absolute;
    padding: 0;
    padding-top: 5px;

    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;

    border-right: 1px solid #eee;
    box-shadow:
      0 0px 0px #fff, /*bottom external highlight*/
      0 0px 1px #ccc, /*top external shadow*/
      inset 0px 0px 1px rgba(0,0,0,0.5), /*bottom internal shadow*/
      inset 0 0px 1px rgba(255,255,255,0.8); /*top internal highlight*/
}

/* Classification tree */
.contentTree .treeIndent{
  margin-left: 1%;
}

.contentTree .moveLogicOperator {
  position: relative;
  /*margin: -18% 0 0 -40%;*/
  top: -105px;
}

.contentTree .moveLogicCondition{
  position:relative;
  top: 20px;
}

.contentTree .singleConditionIndent{
  margin-left: 1%;
}

.contentTree{
  position:relative;
  height: 100%;
  width: 100%;
}

.contentTree li {
  list-style-type: none;
  margin: 0;
  padding: 0;

}

.contentTree ul{
  margin: 0;
  margin-left: 7%;
  padding: 0;
}

.mainContentTreeContainer{
  height: 100%;
  width: 100%;
  display: block;
  overflow-y: auto;
}

.contentTree .firstUL {
  margin: 0;
  left: 0;
  padding: 0;
  margin-top: 5%;
  margin-bottom: 5%;
}

/* Classification tree - end */

/* Main Content - End */

/* Footer Button Style - START */
.submit_button {
  background-color: lightgray;
  margin-left: 1%;
  transform: translateY(25%);
}

.submit_button:hover {
  border: 1px solid gray;
  background-color: lightgrey;
}
/* Footer Button Style - END */

/* Document side */
.descriptioncontent {
    margin-left: 55%;
    width: 45%;
    height: 100%;
    background-color: #CCCCCC;
    position: absolute;
    padding: 0;
    overflow-y:auto;
    overflow-x:auto;
}

.SimplePDF {
  width: 100%;
  height: 100%;
  position: inherit;
}
/* Document side - End */

/* Tree structures */

.mainConditionTree{
  margin-top: 2%;
}

.treeIndent .condition > .conditionoperator {
  font-weight: bold;
}



.ealText{
  font-size: 14px;
  font-weight: 600;
}

/* Tree structures - End */

/* Used to prevent the cursor from changing to the text hover version */
.noTextCursorChange{
  cursor: context-menu;
}

/* Dialog Style - START */
.dialogDiv{
  width: 25%;
  height: 25%;
}

.dialogDiv .dialogButton{
  position: absolute;
  bottom: 1%;
  right: 1%;
  border: 1px solid black;
  background-color: lightgrey;
}

.dialogDiv .dialogButton:hover{
  border: 1px solid gray;
  background-color: lightgrey;
}
/* Dialog Style - END */



.conditionContent{
  padding-left: 5%;
}

.conditionCard{
  margin-left: 10%;
  border-radius: 10px;
  display: inline-block;
  cursor:pointer;
}

.conditionCardText{
  color: black;
}

.conditionCardText li{
  list-style-type: square;
  margin: auto;
  padding: auto;
}

/* Tablet properties */
@media screen and (max-width: 1400px) {
  .pdfViewer {
    width: 125%;
  }

  .contentTree .moveLogicOperator {
    left: 0px;
  }

  .contentTree .firstUL{
    margin-left: -5%;
    padding-left: 0;
  }

  .leftTree{
    overflow-x: auto;
  }

  .leftTree .firstUL {
    margin: 0;
    margin-left: 0%;
    padding: 0;
  }

  .leftTree .logicNode .logicNode{
    margin-left: -50%;
  }

  .leftTree .leafNode{
    margin-left: 12%;
  }

  .leftTree .moveLogicOperator {
    left: 0px;
    margin-top: -17%;
  }

  .leftTree .firstUL {
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: 0;
  }
}

/* Desktop properties */
@media screen and (min-width: 1401px) {
  .leftTree .logicNode .logicNode{
    margin-left: -20%;
  }
}
