/* Common css properties */
body, html{
  -ms-overflow-style: none;
  background-color: #eee;
}

::-webkit-scrollbar {
    display: none;
}

/* prevents text and elements from being highlighted */
*, *:before, *:after {
    -webkit-user-select: none; /* Chrome/Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
}


/* Positions the Fission product barrier matrix text and the current mode on the tp of the page, and keeps it there when scrolling */
.recognitionCategoryText{
  height: 50px;
  width: 100%;
  color: black;
  position:fixed;
  z-index: 2;
  background-color: #eee;
  font-weight: bolder;
  font-size: xx-large;
  text-align: left;
  display:flex;
  align-items: center;
  padding-left: 1%;

  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

  box-shadow:
    0 0px 0px #ddd, /*bottom external highlight*/
    0 0px 1px #ddd, /*top external shadow*/
    inset 0px 0px 3px rgba(0,0,0,1), /*bottom internal shadow*/
    inset 0 0px 1px rgba(255,255,255,0.8); /*top internal highlight*/
}

/* Wrapper element for the recognition category header text */
.categoryTextWrapper{
  position: absolute;
  left: 2%;
}

/* Wrapper element for the classificationheader text */
.classificationTextWrapper{
  position: absolute;
  right: 2%;
}

/* main page properties */
.content {
  height: 100%;
  width: 100%;
  position: absolute;
}

.maincontent {
  background-color: #eee;
  width: 50%;
  height: calc(100% - 50px); /* 100% of the height minus the height of the recognition text */
  position: absolute;
  padding: 0;
  margin-top:50px; /* To clear the header text */
  overflow-y: scroll;

  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

  border-right: 1px solid #eee;
  box-shadow:
    0 0px 0px #fff, /*bottom external highlight*/
    0 0px 1px #ccc, /*top external shadow*/
    inset 0px 0px 1px rgba(0,0,0,0.5), /*bottom internal shadow*/
    inset 0 0px 1px rgba(255,255,255,0.8); /*top internal highlight*/
}

/* Right side content - PDF */
.descriptioncontent {
  margin: 0;
  margin-left: 50%;
  margin-top: 50px; /* To clear the header text */
  width: 50%;
  height: calc(100% - 50px); /* 100% of the height minus the height of the recognition text */

  position: absolute;
  padding: 0;
  overflow-y:auto;
  overflow-x:auto;
  z-index: 1;
}

.SimplePDF {
  width: 100%;
  height: 100%;
  position: inherit;
}

.pdfViewer {
  width: 100%;
  height: 100%;
  z-index: 1;
}

.documentIconRight{
  height: 150px;
  width: 150px;

  z-index: -2;

  position: absolute;
  left: calc(50% - 75px);
  top: calc(50% - 75px);
}

/* Footer Styling */
.submitButton {
  position: absolute;
  background-color: lightgray;
  bottom: 1%;
  left: 2%;
  width: 10%;
  height: 5%;
  text-align: center;
}

.submitButton:hover {
  border: 1px solid gray;
  background-color: lightgrey;
}
/* Footer Styling - END */

/* Dialog Styling */
.dialogDiv{
  width: 25%;
  height: 30%;
}

.dialogDiv .dialogButton{
  position: absolute;
  width: 100px;
  height: 55px;
  bottom: 2%;
  right: 2%;
  border: 1px solid black;
  background-color: lightgrey;
}

/* Dialog Styling - END */

/* Tablet properties */
@media screen and (max-width: 1400px) {
  .pdfViewer {
    width: 125%;
  }
}

/* Desktop properties */
@media screen and (min-width: 1401px) {
  .barrierTableCell:first-child:hover{

  }
}
