body, html{
  overflow:hidden;
  margin:0;
  padding:0;
}

 .headerlayout {
   height: 100%;
   width: 100%;
   margin:0;
   padding:0;
   position:absolute;
   z-index: 3;
 }

.content {
  height: 100%;
  width: 100%;
  margin:0;
  padding:0;
  position:absolute;
}

.footerlayout {
  height: 100%;
  width: 100%;
  margin:0;
  padding:0;
  position:absolute;
  z-index: 3;
}
