/* Common css properties */
body, html{
  -ms-overflow-style: none;
  background-color: #eee;
}

::-webkit-scrollbar {
    display: none;
}

/* main page properties */
.content {
  height: 100%;
  width: 100%;
  position: absolute;
}

.recognitionCategoryText{
  height: 50px;
  width: 100%;
  color: black;
  position:fixed;
  z-index: 2;
  background-color: #eee;
  font-weight: bolder;
  font-size: xx-large;
  text-align: left;
  display:flex;
  align-items: center;
  padding-left: 1%;

  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

  box-shadow:
    0 0px 0px #ddd, /*bottom external highlight*/
    0 0px 1px #ddd, /*top external shadow*/
    inset 0px 0px 3px rgba(0,0,0,1), /*bottom internal shadow*/
    inset 0 0px 1px rgba(255,255,255,0.8); /*top internal highlight*/
}

.tableWrapper {
  overflow-y: scroll;
  height: 100%;
  width: 100%;
}

.maincontent {
  background-color: #eee;
  width: 50%;
  height: 100%;
  position: absolute;
  padding: 0;
  padding-top: 0px;
  padding-left: 0px;
  overflow-y: scroll;

  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

  border-right: 1px solid #eee;
  box-shadow:
    0 0px 0px #fff, /*bottom external highlight*/
    0 0px 1px #ccc, /*top external shadow*/
    inset 0px 0px 1px rgba(0,0,0,0.5), /*bottom internal shadow*/
    inset 0 0px 1px rgba(255,255,255,0.8); /*top internal highlight*/
}

.descriptioncontent {
  margin-left: 50%;
  width: 50%;
  height: 100%;

  position: absolute;
  padding: 0;
  overflow-y:auto;
  overflow-x:auto;
  z-index: 0;
}

/*Barrier Table*/
th, tr{
  padding: 0;
  margin: 0;
  min-height: 50px;
  height: 50px;
}

.barrierTable {
  width: 100%;
  table-layout: fixed;

  overflow-y: scroll;

  padding: 0;
  margin: 0;
  margin-top: 50px;
  margin-bottom: 20px;

  background-color: black;
}

.barrierTable:last-of-type{
  margin-bottom: 0px;
}

.barrierTableHeader > * {
  text-transform: uppercase;

  padding: 0;
  margin: 0;

  background-color: #ccc;
}

.barrierTableRow:nth-child(odd) {
  background-color: #eee;
}

.barrierTableRow{
  background-color: #e3e3e3;
}

.barrierTableCell {
  text-align: left;
  position:relative;
  padding: 5px;
  margin: 0;
}

.barrierTableHeaderFirstCol {
  width: 20%;
}

.submitButton {
  margin-top: 5px;
  margin-left: 2%;
  background-color: LightGray;
}

.operator {
  text-align: center;
  font-weight: bold;
}

.documentIcon {
  width: 24px;
  height: 24px;
  position:absolute;
  bottom:3px;
  right: 1px;
  float:right;
}

.dialogDiv{
  width: 30%;
}

/* Tablet properties */
@media screen and (max-width: 1400px) {
  .pdfViewer {
    width: 125%;
  }
}

/* Desktop properties */
@media screen and (min-width: 1401px) {
  .barrierTableCell:first-child:hover{
    box-shadow: inset 2px -2px 2px rgba(0,0,0,0.5), /*bottom internal shadow*/
    inset -2px 2px 2px rgba(255,255,255,1); /*top internal highlight*/

      /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(225,225,225,0.5) 0%,rgba(150,150,150,0.5) 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(225,225,225,0.5) 0%,rgba(150,150,150,0.5) 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, rgba(225,225,225,0.5) 0%,rgba(150,150,150,0.5) 100%);

    cursor: pointer;
  }
}
