.tableWrapper{
  position: relative;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.conditionTable {
  position: relative;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  table-layout: fixed;
}

.tableSize{
  height: 100%;
}

.conditionCell {
  padding: 0;
  margin: 0;
  /*height: 1px;*/
}

.cellBorderBottom{
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border-bottom: 2px solid black;
}

.logicCell{
  width: 15%;
  text-align: center;
  height: 1px;
}

.logicConditionText{
  height: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-weight: bold;
  border-right: 2px solid black;

  padding-left: 5px;
  padding-right: 5px;
}

.notApplicableCell{
  padding-left: 5px;
  height: 100%;
  cursor: default;
}

.leafContainer {
  position: relative;
  padding-left: 5px;
  padding-right: 5px;
  min-height: 50px;
  height: 100%;
}

.conditionTextWrapper {
  position: relative;
  left: 0;
  margin-bottom: 20px;
}

.checkImage{
  position: absolute;
  width: 20px;
  height: 20px;
  bottom: 2px;
  right: 2px;
}

.disableConditionLeaf {
  background-color: rgba(125,125,125,0.5);
  color: rgb(100,100,100);
  cursor: default;
}
