.resetButtonStyle {
  width: 65px;
  height: 65px;
  background-color: lightgray;
}

.resetIcon {
  width: 50%;
  height: 50%;
  position: relative;
  align-self: center;
}

.resetButtonTextStyle {
  background-color: lightgray;
  text-align: center;
  position: absolute;
  right: 2%;
  bottom: 1%;
  width: 10%;
  height: 5%;
}

.resetButtonTextStyle:hover{
  border: 1px solid gray;
  background-color: lightgrey;
}

.resetButtonText {

}
