.content {
  padding: 0 16px;
}

.home_button{
  background-color: lightgray;
}

.submit_button {
  background-color: lightgray;
  margin-left: 1%;
  transform: translateY(25%);
}

.submit_button:hover{
  border: 1px solid gray;
  background-color: lightgrey;
}

@media screen and (max-width: 1024px) {

}
